extends layout

block content
  h1 myAssortment Pairs
  <h3 style="display: inline;"> Today's Resiliency Pair: </h3><span style="font-weight: strong;">Ben & Casey</span>
  <div class="container">
    <table>
      <tr>
        <th>Ben</th>
        <th>Casey</th>
        <th>Chad</th>
        <th>Francisco</th>
        <th>Jordan</th>
        <th>Patrick</th>
        <th>Paige</th>
        <th>Trevor</th>
      </tr>
      <tr>
        <td>Ben</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Casey</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Chad</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Francisco</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Jordan</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Patrick</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Paige</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>Trevor</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
    </table>
