<!DOCTYPE html>
<html>
  <head>
    <title>Something Useful</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="public/stylesheets/style.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="myApp">
    <div ui-view></div>
  </body>
  <script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/lib/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script>
  <script type="text/javascript" src="/javascripts/dataService.js"></script>
  <script type="text/javascript" src="/javascripts/home.js"></script>
  <script type="text/javascript" src="/javascripts/pairgroup.js"></script>
</html>
