<!DOCTYPE html>
<html>
  <head>
    <title>myAssortment Pairs</title>
    <link rel="icon" 
      type="image/png"
      href="/images/thd_logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/remodal.css">
    <link rel="stylesheet" href="/stylesheets/remodal-default-theme.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="pairsApp">
    <div ui-view></div>
    <script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/javascripts//lib/angular-resource.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <script type="text/javascript" src="/javascripts/dataService.js"></script>
  </body>


</html>
